<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h3>Well done!</h3>
    <h4>{{ category_set }}</h4>
    {% for value in values %}
        <table>
            <tr>
                <td>{{ year }}</td>
                <td>{{ month }}</td>
                <td>{{ number }}</td>
                <td>{{ title }}</td>
                <td>{{ text }}</td>
                <td>{{ category }}</td>
            </tr>
        </table>
        <p>{{ value }}</p>
    {% endfor %}

</body>
</html>